<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>edit</mat-icon> Alerta
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Prometheus </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Pager Duty </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
